:root {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0ece2;
  font-family: 'Poppins', sans-serif;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 1.4em;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #c7b198;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 300px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #c7b198;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  color: #333;
  transition: background-color 0.5s ease-in, transform 0.5s ease-in;
}

button:hover {
  background-color: #333;
  color: #FFF;
  transform: scale(1.1);
}

.img-and-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.buttons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes vaporize {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

img {
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  animation: vaporize 1.5s ease-in-out;
}

img.logo {
  border: none;
  max-width: 200px;
}